.fluid-container {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.header {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $bp-smallest) {
    flex-direction: column;
    justify-content: center;
  }
}
.primary {
  background-image: url("../img/photo-bg.jpg");
  height: 60rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $bp-medium) {
    height: 40rem;
  }
  @media screen and (max-width: $bp-medium) {
    height: 35rem;
  }
}
.about-us {
  width: 110rem;
  @media screen and (max-width: $bp-largest) {
    width: 100%;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
}
.info {
  width: 100%;
  //border: 1px solid #000;
  display: flex;
  justify-content: center;
  background-color: rgb(247, 247, 99);
  &__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    max-width: 110rem;
    @media screen and (max-width: $bp-largest) {
      padding: 0;
      width: 80rem;
    }
    @media screen and (max-width: $bp-medium) {
      width: 60rem;
    }
    @media screen and (max-width: $bp-small) {
      width: 40rem;
    }
    @media screen and (max-width: $bp-small) {
      width: 30rem;
    }
  }
}
.support-us {
  width: 100%;
  //border: 1px solid #000;
  display: flex;
  justify-content: center;
  background-color: white;
}
